[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"

[dev-packages]
pytest = "*"
coverage = "*"
selenium = "*"
webdriver-manager = "*"
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
pytest-cov = "*"
locust = "*"

[requires]
python_version = "3.13"

[scripts]
start = "flask run"
test = "pytest -v"
lint = "flake8 ."
format = "python -c \"import subprocess; subprocess.run(['black', '.']); subprocess.run(['isort', '.'])\""
